*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#f7faf8;
}

header{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    padding:20px 5%;
    background:#c4e5da;
}

.logo-img{
    height:120px;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-links a{
    text-decoration:none;
    color:#36702b;
    font-weight:600;
}

.editar-container{
    display:flex;
    justify-content:center;
    padding:50px 20px;
}

.editar-card{
    background:white;
    width:100%;
    max-width:700px;
    padding:40px;
    border-radius:15px;
    box-shadow:0 4px 15px rgba(0,0,0,.1);
}

.editar-card h1{
    text-align:center;
    color:#1b3a2f;
    margin-bottom:30px;
}

.campo{
    display:flex;
    flex-direction:column;
    margin-bottom:20px;
}

.campo label{
    margin-bottom:8px;
    font-weight:600;
}

.campo input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.btn-salvar{
    width:100%;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#4CAF50;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.btn-salvar:hover{
    background:#2e7d32;
}
.botoes-perfil{
    display:flex;
    gap:15px;
    margin-top:20px;
    flex-wrap:wrap;
}

.btn-salvar,
.btn-voltar,
.btn-sair{
    flex:1;
    text-align:center;
    padding:14px;
    border:none;
    border-radius:8px;
    text-decoration:none;
    font-weight:600;
    cursor:pointer;
}

.btn-salvar{
    background:#4CAF50;
    color:white;
}

.btn-salvar:hover{
    background:#2e7d32;
}

.btn-voltar{
    background:#2196F3;
    color:white;
}

.btn-voltar:hover{
    background:#1976D2;
}

.btn-sair{
    background:#f44336;
    color:white;
}

.btn-sair:hover{
    background:#d32f2f;
}